<section class="gallery-isotop gallery-main">
  <div class="filter-portfolio">
    <!-- project filter -->
    <div class="filter-section-alt">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                <li class="active"><a href="#" data-filter="*">Todas </a>
                </li>
                <li><a href="#" data-filter=".music">Musica</a>
                </li>
                <li><a href="#" data-filter=".modeling">Modelaje</a>
                </li>
                <!--  <li><a href="#" data-filter=".travelling">Travelling</a>
                 </li> -->
                <li><a href="#" data-filter=".kids">Niños</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end filter -->
    <div class="isotopeContainer parent-container">
      <div class="row">
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/1.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/1.jpg" class="fa fa-arrows-alt hvr">
                </a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/2.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/2.jpg" class="fa fa-arrows-alt hvr">
                </a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/11.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/11.jpg" class="fa fa-arrows-alt hvr">
                </a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/12.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/12.jpg" class="fa fa-arrows-alt hvr">
                </a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/4.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/4.jpg" class="fa fa-arrows-alt hvr">
                </a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/5.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/5.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector kids">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/kids/1.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/kids/1.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/2.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/2.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/13.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/13.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/1.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/1.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector kids">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/kids/2.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/kids/2.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/6.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/6.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/14.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/14.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/7.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/7.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector kids">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/kids/3.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/kids/3.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/4.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/4.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/5.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/5.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/7.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/7.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector  music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/8.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/8.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/9.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/9.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector  music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/10.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/10.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/8.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/8.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/11.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/11.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/12.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/12.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/13.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/13.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector modeling">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/modelaje/10.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/modelaje/10.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/14.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/14.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/15.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/15.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/16.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/16.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/17.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/17.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/18.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/18.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/19.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/19.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/20.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/20.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/21.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/21.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/22.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/22.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/23.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/23.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
        <div class="col-md-3 col-sm-6 isotopeSelector music">
          <article class="card">
            <header class="card-header fade-mode">
              <img class="card-header-thumb" src="src/images/musica/24.jpg" alt="image" />
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="src/images/musica/24.jpg" class="fa fa-arrows-alt hvr"></a>
              </div>
            </header>
          </article>
        </div>
      </div>
    </div>


  </div>
  <!-- End Container -->
</section>
