<header class="main-header">
  <!-- Start Navigation -->
  <nav class="navbar navbar-default  navbar-fixed navbar-transparent bootsnav">

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#brand">
          <img src="src/src/images/logos/logo-white.svg" class="logo logo-display img-responsive" alt="">
          <img src="src/images/logos/logo-black.svg" class="logo logo-scrolled img-responsive" alt="">
        </a>
      </div>
      <!-- End Header Navigation -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
          <li>
            <a href="index.php">Inicio</a>
          </li>
          <li>
            <a href="about.php">Sobre mí</a>
          </li>
          <li>
            <a href="services.php">Servicios</a>
          </li>
          <li>
            <a href="portfolio.php">Portafolio</a>
          </li>
          <li>
            <a href="contact.php">Contacto</a>
          </li>

        </ul><!-- end of navbar-nav -->
      </div><!-- /.navbar-collapse -->
    </div><!-- end of container -->
  </nav><!-- End Navigation -->

  <div class="clearfix"></div>
</header><!-- end of header -->
