<!-- ==================================
    **testimonial**
    ================================== -->
<section class="testimonial">
  <div class="container">
    <div class="caption-head text-center">
      <h2>lo que dicen <span>mis clientes</span></h2>
    </div>
    <div class="testimonial-wrapper">
      <div class="swiper-container testimonial-slider">
        <div class="swiper-wrapper testimonial-container">
          <div class="swiper-slide">
            <div class="testimonial-inner flex-item">
              <div class="testimonial-body">
                <p>
                  Pablo es un súper profesional, me hizo sentir cómoda, creando un ambiente cálido, alegre y relajado, sin perder nunca el ojo artístico para lograr fotos maravillosas;
                  en cada foto cuida los detalles, puedes jugar mientras él te guía para lograr lo mejor.
                </p>
              </div>
              <div class="testimonial-footer">
                <p>Macarena Díaz <span>Modelo</span>
                </p>
              </div>
            </div>
          </div><!-- end of swiper-slide -->
          <div class="swiper-slide">
            <div class="testimonial-inner flex-item">
              <div class="testimonial-body">
                <p>
                  Excelente experiencia en la sesión de fotos. Muy profesional, respetuoso y aporta ideas
                  para obtener fotos de calidad, el resultado final excelente, muy agradecida por la colaboración y súper recomendado.
                </p>
              </div>
              <div class="testimonial-footer">
                <p>Aurora Flores <span>Modelo y Promotora</span>
                </p>
              </div>
            </div>
          </div><!-- end of swiper-slide -->
          <div class="swiper-slide">
            <div class="testimonial-inner flex-item">
              <div class="testimonial-body">
                <p>
                  Nunca me había tocado un fotógrafo que se adecuará tanto a lo que yo necesitaba, que se centrará en hacerme ver linda, que buscará mis mejores ángulos y sacar lo mejor de mi figura. Destaco la puntualidad, concentración, periodo de entrega de las fotos y los lugares escogidos. Quedé muy satisfecha con la sesión realizada, sí o sí lo recomiendo muchísimo
                </p>
              </div>
              <div class="testimonial-footer">
                <p>Valentina Rojas <span>Modelo y Promotora</span>
                </p>
              </div>
            </div>
          </div><!-- end of swiper-slide -->
          <div class="swiper-slide">
            <div class="testimonial-inner flex-item">
              <div class="testimonial-body">
                <p>
                  Pablo es un profesional empático, responsable, creativo y muy paciente. Le hizo una sesión a mi hija de 4 años (bastante inquieta y dispersa) con hermosos resultados, logro plasmar su esencia
                  de forma lúdica y creativa, para que mi hija también pudiese disfrutar la sesión. Experiencia 100% recomendable.
                </p>
              </div>
              <div class="testimonial-footer">
                <p>Estefanía Carrere<span></span>
                </p>
              </div>
            </div>
          </div><!-- end of swiper-slide -->
          <div class="swiper-slide">
            <div class="testimonial-inner flex-item">
              <div class="testimonial-body">
                <p>
                  Tuve la oportunidad de hacer una producción de fotos con Pablo y fue una experiencia hermosa, ya que soy de Argentina y realizamos la sesión en el Parque Bicentenario de Vitacura y me encantó. Me sentí muy cómoda con él y muy feliz. Excelente profesional.
                </p>
              </div>
              <div class="testimonial-footer">
                <p>Constanza San Felipe<span>Modelo y Promotora</span>
                </p>
              </div>
            </div>
          </div><!-- end of swiper-slide -->
        </div><!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div><!-- end of swiper-container -->
    </div><!-- end of testimonial-wrapper -->
  </div><!-- end of container -->
</section><!-- end of testimonial section -->

