

<!-- =======================
     **banner-slider**
     ======================= -->
<section class="home-banner slider-option">
  <!-- Swiper -->
  <div class="swiper-container banner-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="src/images/Slides/slide-1.jpg" class="img-responsive" alt="">
        <div class="container">
          <div class="banner-content">
            <h1><span>PM</span>Fotografía</h1>
            <h1> <i class="fa fa-camera" aria-hidden="true"></i></h1>
            <a href="portfolio.php" class="btn main-photo-btn generic-btn"><span>Explorar</span></a>
          </div><!-- end of banner-content -->
        </div><!-- end of container -->
      </div><!-- end of swiper-slide -->
      <div class="swiper-slide">
        <img src="src/images/Slides/slide-2.jpg" class="img-responsive" alt="">
        <div class="container">
          <div class="banner-content">
            <h1><span>PM</span>Fotografía</h1>
            <h1> <i class="fa fa-camera" aria-hidden="true"></i></h1>
            <a href="portfolio.php" class="btn main-photo-btn generic-btn"><span>Explorar</span></a>
          </div><!-- end of banner-content -->
        </div><!-- end of container -->
      </div><!-- end of swiper-slide -->
      <div class="swiper-slide">
        <img src="src/images/Slides/slide-3.jpg" class="img-responsive" alt="">
        <div class="container">
          <div class="banner-content">
            <h1><span>PM</span>Fotografía</h1>
            <h1> <i class="fa fa-camera" aria-hidden="true"></i></h1>
            <a href="portfolio.php" class="btn main-photo-btn generic-btn"><span>Explorar</span></a>
          </div><!-- end of banner-content -->
        </div><!-- end of container -->
      </div><!-- end of swiper-slide -->
      <div class="swiper-slide">
        <img src="src/images/Slides/slide-4.jpg" class="img-responsive" alt="">
        <div class="container">
          <div class="banner-content">
            <h1><span>PM</span>Fotografía</h1>
            <h1> <i class="fa fa-camera" aria-hidden="true"></i></h1>
            <a href="portfolio.php" class="btn main-photo-btn generic-btn"><span>Explorar</span></a>
          </div><!-- end of banner-content -->
        </div><!-- end of container -->
      </div><!-- end of swiper-slide -->
      <div class="swiper-slide">
        <img src="src/images/Slides/slide-5.jpg" class="img-responsive" alt="">
        <div class="container">
          <div class="banner-content">
            <h1><span>PM</span>Fotografía</h1>
            <h1> <i class="fa fa-camera" aria-hidden="true"></i></h1>
            <a href="portfolio.php" class="btn main-photo-btn generic-btn"><span>Explorar</span></a>
          </div><!-- end of banner-content -->
        </div><!-- end of container -->
      </div><!-- end of swiper-slide -->
    </div><!-- end of swiper-wrapper -->
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next main-slider-btn"><span class=" fa fa-arrow-circle-right"></span></div>
    <div class="swiper-button-prev main-slider-btn"><span class="fa fa-arrow-circle-left"></span></div>
  </div><!-- end of swiper-container -->
</section><!-- end of home banner -->

<!-- ========================
    **about us**
    ===================== -->
<section class="about-home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="video-tour-about">
          <img src="src/images/about-side-1.png" class="img-responsive" alt="">
          <!-- <a class="play-btn vpop" data-type="youtube" data-id="W4wA7J9nkzA" data-autoplay='true'><img src="images/play-button.svg" class="img-responsive" alt=""></a> -->
        </div><!-- end of video-tour-about -->
      </div><!-- end of col-md-6 -->
      <div class="col-md-6">
        <div class="about-content">
          <div class="head-wrapper">
            <h1>Acerca de<span> PMFotografía</span></h1>
            <label class="bottom-caption">Ve el mundo a través de mi lente</label>
          </div><!-- end of head-wrapper -->
          <p>
            Quiero que las personas que fotografío se sientan siempre cómodas, libres y sobre todo espontáneas...
            captar esa espontaneidad es mi motor, quiero transmitir belleza, pasión, libertad, felicidad y buen gusto,
            pero siempre desde lo real y honesto, ese es el mensaje que quiero entregar. El amor con el que hago cada toma,
            cada proyecto, es lo que me caracteriza como Fotógrafo, vivamos juntos la experiencia.
          </p>
          <div class="take-tour">
            <h3><i class="fa fa-camera fa-2x"></i>Revisa mi <span>Trabajo</span></h3>
          </div><!-- end of take-tour -->
          <a href="portfolio.php" class="btn main-photo-btn generic-btn black-btn"><span>Portalfolio</span></a>
        </div><!-- end of about-content -->
      </div><!-- end of col-md-6 -->
    </div><!-- end of row -->
  </div><!-- end of container -->
  <div id="video-popup-overlay"></div>
  <div id="video-popup-container">
    <div id="video-popup-close" class="fade">&#10006;</div>
    <div id="video-popup-iframe-container">
      <iframe id="video-popup-iframe"></iframe>
    </div><!-- end of video-popup-iframe-container -->
  </div><!-- end of video-popup-container -->
</section><!-- end of about us -->



<!-- ==================================
     **PORTFOLIO**
     ================================== -->

<section class="gallery-main canvas-padding ">
  <div class="caption-head text-center">
    <h2><span>Galería</span></h2>
  </div><!-- end of caption-head -->

  <div class="container-fluid">
    <div class="row masonry-grid parent-container">
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/modelaje/10.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/modelaje/10.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/musica/16.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/musica/16.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/musica/11.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/musica/11.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/modelaje/7.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/modelaje/7.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/modelaje/8.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/modelaje/8.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/kids/3.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/kids/3.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/musica/8.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/musica/8.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
      <div class="col-lg-3 col-md-6 col-sm-6 masonry-item">
        <article class="card">
          <header class="card-header fade-mode">
            <img class="card-header-thumb" src="src/images/musica/20.jpg" alt="image" />
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="src/images/musica/20.jpg" class="fa fa-arrows-alt hvr"></a>
            </div>
          </header>
        </article>
      </div><!-- end of masonry-item -->
    </div><!-- end of masonry-grid -->
    <div class="text-center">
      <a href="portfolio.php" class="btn main-photo-btn generic-btn black-btn with-margin more-width-btn"><span>ver más</span></a>
    </div>
  </div><!-- End Container -->
</section><!-- End Section gallery-main-->

<app-testimonial></app-testimonial>

