<!-- ==================================
     ** footer **
     ================================== -->
<footer class="dark-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="al-rights-wrap">
          <p>contacto@pmfotografía.cl</p>
          <p><span></span>2018 Raven Labs. All Rights Are Reserved</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="footer-logo">
          <img src="src/images/logos/logo-white.svg" class="img-responsive" alt="">
        </div>
      </div>
      <div class="col-sm-4 text-right foot-right">
        <ul class="social">
          <li><span class="fa fa-facebook fa-3x"></span></li>
          <li><span class="fa fa-twitter fa-3x"></span>
          </li>
          <li><span class="fa fa-instagram fa-3x"></span>
          </li>
        </ul><!-- end of social -->
        <address>
          <p>Santiago <span></span></p>
        </address>
      </div><!-- end of foot-right -->
    </div><!-- end of row -->
  </div><!-- end of container -->
</footer><!-- end of dark-footer -->
